// Breakpoints 

$breakpoint: (mobile: rem(568),
    tablet: rem(1024),
);

@mixin breakpointUp($size) {
    $breakpoint-values: map-get($breakpoint, $size);

    @media screen and (min-width: $breakpoint-values) {
        @content;
    }

}

@mixin breakpointDown($size) {
    $breakpoint-values: map-get($breakpoint, $size);

    @media screen and (max-width: $breakpoint-values) {
        @content;
    }

}